<div class="message mb-2 <%= 'me' if message.admin == current_admin %>">
  <%= message.admin %>
  <div class="content-container">
    <div class="content">
      <%= message.content %>
    </div>
    <div class="author">
      <%= message.admin.inspect %>
    </div>
  </div>
</div>
