<div class="message mb-2 <%= 'me' if message.admin == current_admin %>" style="margin-top:40px;margin-bottom:40px;">
  
  <div class="content-container">
    <div class="content">
      <%= message.content %>
    </div>
    <div class="author">
      <%= render 'privates/form', private: Private.new, admin1: message.admin, admin2: current_admin %>
      <%= link_to 'Delete' , message, method: :delete, data: {confirm: 'Delete message?'}, id: message.id%>
    </div>
  </div>
</div>
