<div class="message mb-2 me">
  <div class="content-container" id="message-id-<%= message.id %>">
    <div class="content">
      <%= message.content %>
    </div>
    <div class="author">
      <%= message.admin.full_name %>
      <%= link_to 'Delete', message, method: :delete, data: {confirm: 'Delete message?'}, id: message.id %>
    </div>
  </div>
</div>
