<div class="message mb-2" style="margin-top:40px;margin-bottom:40px;">
  <div class="content-container">
    <div class="content">
      <%= message.content %>
    </div>
    <div class="author">
      <%= message.admin.full_name %>
    </div>
  </div>
</div>
