<div class="message mb-2" style="margin-top:40px;margin-bottom:40px;">
  <div class="content-container">
    <div class="content">
      <%= message.content %>
    </div>
    <div class="author">
      <%= render 'privates/form', private: Private.new, admin1: message.admin, admin2: current_admin %>
    </div>
  </div>
</div>
