<div class="message mb-2">
  <div class="content-container">
    <div class="content">
      <%= private_message.content %>
    </div>
    <div class="author">
      <%= private_message.admin.full_name %>
    </div>
  </div>
</div>