<h1>Editing Enrollment</h1>
<%= render 'form', enrollment: @enrollment, room: Room.where({id: @enrollment.room_id}).first %>

<%= link_to 'Show', @enrollment %> |
<%= link_to 'Back', enrollments_path %>
