<p id="notice"><%= notice %></p>
<h1>Enrollment Show</h1>
<%= @enrollment.inspect %>
<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path, id:'back-to-enrollments' %>
