body {
  overflow-y: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}
.room-link-sidebar {
  &:hover {
    text-decoration: none;
  }
  .room-card {
    transition: background-color 0.5s ease;
    border-radius: 25px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover {
      background-color: #eeeeee;
    }
    &.active {
      background-color: black;
      .name {
        color: white;
      }
      .member-count {
        color: #e0e0e0;
      }
    }
    .name {
      font-weight: bold;
      color: black;
    }
    .member-count {
      color: #777777;
      font-weight: light;
    }
  }
}
.chat-room {
  #messages {
    /*height: 100%;*/
    overflow-y: scroll;
    padding-bottom: 10px;
    padding-top: 20px;
    height: 600px;
  }

  #private_messages {
    /*height: 100%;*/
    overflow-y: scroll;
    padding-bottom: 10px;
    padding-top: 20px;
    height: 600px;
  }
  #event-messages {
    /*height: 100%;*/
    overflow-y: scroll;
    padding-bottom: 10px;
    padding-top: 20px;
    height: 600px;
  }

  .navbar {
    border-bottom: 1px solid #eeeeee;
    margin-left: -15px;
    width: calc(100% + 30px);
  }

  .message {
    min-height: 59px;
    .content-container {
      display: inline-block;
      .content {
        background-color: #eeeeee;
        padding: 8px 16px;
        border-radius: 20px;
      }
      .author {
        font-size: 0.8rem;
        color: #777777;
        margin-left: 10px;
      }
    }
    &.me {
      .content-container {
        float: right;
        .content {
          background-color: #007bff;
          color: white;
        }
      }
    }
  }
  .chat-box {
    position: absolute;
    /*bottom: -10px;*/
    padding: 20px;
    width: 100%;
    /*margin-left: -15px;*/
    background-color: white;
    border-top: 1px solid #eeeeee;
    input[type="text"] {
      height: 45px;
      font-size: 18px;
      padding: 8px;
    }
    .btn {
      height: 45px;
    }
  }
}

.card.no-outline {
  border: none;
}

.room-link {
  &:hover {
    text-decoration: none;
  }
  .room-card {
    transition: background-color 0.5s ease;
    border-radius: 20px;
    width: 200px;
    margin: 10px;
    &:hover {
      background-color: #eeeeee;
    }
    &.active {
      background-color: black;
      .name {
        color: white;
      }
      .member-count {
        color: #e0e0e0;
      }
    }
    .name {
      font-weight: bold;
      color: black;
    }
    .member-count {
      color: #777777;
      font-weight: light;
    }
  }
}

.rooms-sidebar {
  justify-content: center;
}

/*css for login page*/
.login-navbar {
  color: white;
  padding: 10px;
}

.main-container {
  display: block;
  justify-content: center;
}

.login-container {
  justify-content: center;
  margin: 30px;
}

.card-body .justify-content-center {
  justify-content: center;
}

.card .room-card {
  margin: 10px;
  border-radius: 20px;
  display: block;
}

.card .card-login {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 255, 0.5) !important;
  border-radius: 5px;
}

.card-header h3 {
  color: white;
}

.justify-content-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

/*room index page*/
.container-room {
  display: block;
  padding: 20px 20px;
}

.container-room-row {
  display: flex;
  padding: 20px 20px;
}
.container-search {
  display: block;
  padding: 40px 0px 20px 0px;
  background: white;
  justify-content: center;
  height: 100px;
}

.navbar-row {
  display: flex;
}

.white-font {
  color: white;
}

.search-bar {
  width: 100%;
  display: flex;
}

.container-add-room {
  margin-bottom: 30px;
}

.container-room-page {
  display: block;
}

// style for user dashboard (courses)
.enrollment-title-div {
  color: white;
  padding-top: 20px;
  padding-bottom: 15px;
}
.container-dashboard {
  margin-top: 10px;
  height: 100vh;
  padding: 0px;
}

// style for after signing in
.container-signin {
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
}

// style for individual rooms
.course-col {
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
}

// style for events
.event-container {
  display: block;
  min-height: 500px;
  padding-left: 0px;
  padding-right: 0px;
}

.event-createbox {
  justify-content: center;
}

#event-create {
  width: 100%;
}

.card-body-event {
  background-color: white;
  border: none;
  border-radius: 10px;
}

.col-4 .col-4-event {
  padding: 0px;
}

.all-event-container {
  margin: 0px;
  padding: 0px;
  height: 50vh;
}

.all-event-title-div {
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
}

.post-btn {
  width: 100%;
  margin-top: 10px;
}


// reference https://codepen.io/creativemanner/pen/NWrNWrd
.post-card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 300px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  @media (max-width: 768px) {
    min-height: 350px;
  }

  @media (max-width: 420px) {
    min-height: 300px;
  }

  &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
      background-size: 130%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(35, 79, 109);
        background: linear-gradient(
          0deg,
          rgba(4, 69, 114, 0.5) 0%,
          rgba(4, 69, 114, 1) 100%
        );
      }
    }
  }
  .card-footer {
    background: none;
    border-top: none;
    .media {
      img {
        border: solid 3px rgba(234, 95, 0, 0.3);
      }
    }
  }
  .card-meta {
    color: orange;
  }
  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    .card-body {
      margin-top: 30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: rgb(35, 79, 109);
    background: linear-gradient(
      0deg,
      rgba(35, 79, 109, 0.3785889355742297) 0%,
      rgba(69, 95, 113, 1) 100%
    );
  }
}
.post-card2 {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 300px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  @media (max-width: 768px) {
    min-height: 350px;
  }

  @media (max-width: 420px) {
    min-height: 300px;
  }

  &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    
  }
  .card-footer {
    background: none;
    border-top: none;
    .media {
      img {
        border: solid 3px rgba(234, 95, 0, 0.3);
      }
    }
  }
  .card-meta {
    color: orange;
  }
  
  .card-body {
    color: gray;
    
  }
  
}

#new-post-textarea{
  height: 300px;
  
}