<div class="navbar navbar-dark bg-dark shadow-sm ">
    <h1 class="navbar-right white-font">Suffer Together
    
    </h1>
    <a href="#" class="navbar-link">
      <b><%= current_admin.full_name %><br></b>
    </a>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 max-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h4>Current User: 
                    <%= current_admin.full_name%>
                    </h4>
                    <%= link_to "Sign Out", destroy_admin_session_path %>
                </div>
            </div>
        </div>
    </div>
</div>

