<div class="message mb-2">
  <div class="content-container">
    <div class="content">
      <%= event_message.content %>
    </div>
    <div class="author">
      <%= event_message.admin.full_name %>
    </div>
  </div>
</div>
